<form id="create" class="" action="" method="post">
  <label>Name <input type="text" name="name" placeholder="create a to-do list app" required /></label>
  <label>Description <input type="text" name="description" placeholder="You can put an optional description of your task here." /></label>
  <button type="submit">Create New Task</button>
</form>

<p><%= params %></p>
