<% if @maybe_error && @maybe_error.length > 0 %>
  <h1 id="error"><%= @maybe_error %></h1>
<% end %>

<h1>TASKMASTER</h1>

<% unless @tasks.nil? %>
  <table>
    <tr>
      <th id="id">id</th>
      <th id="name">task name</th>
      <th id="description">description</th>
      <th id="date">date completed</th>
      <th id="edit-link">edit task?</th>
    </tr>
    <% @tasks.each do |task| %>
      <% task_id = task[0] %>
      <tr>
        <% task.each do |field| %>
          <td><%= field %></td>
        <% end %>
        <td><a href="/update/<%= task_id %>">Edit this task.</a></td>
      </tr>
    <% end %>
  </table>
<% end %>
