<h1>TASKMASTER</h1>

<% unless @tasks.nil? %>
  <table>
    <tr>
      <th id="id">id</th>
      <th id="name">task name</th>
      <th id="description">description</th>
      <th id="date">date completed</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <% task.each do |field| %>
          <td><%= field %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
