<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>TASKMASTER - funny tagline here</title>
  </head>
  <body>
    <header>
      <nav>
        <p>TASKMASTER options: <a href="/create">Create a new task!</a></p>
        <!-- <p><a href="/update">Update a task!</a></p> -->
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
