<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Indie+Flower" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>TASKMASTER - funny tagline here</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Go home!</a>
        <a href="/create">Create a new task!</a>
        <a href="/complete">Mark tasks complete!</a>
        <a href="/delete">Delete a task!</a>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
