body {
  width: 960px;
  background: #ccc;
  margin: 2% auto;
  text-align: center;
/*  margin-top: 100px;*/

}

h1 {
  padding: 0;
  margin: 0 0 5px 0;
}

main {
  padding: 20px 0;
}

nav {
  font-size: 20px;
}

table {
    border-collapse: collapse;
    margin: auto;
}


table, th, td {
   border: 1px solid black;
}

#id {
  width: 100px;
}

#name {
  width: 150px;
}

#description {
  width: 350px;
}

#date {
  width: 150px;
}

label {
  display: block;
  margin: 10px;

}

form {
  display: block;
  text-align: left;
  width: 500px;
  margin: auto;
}









