body {
  width: 960px;
  background: #ccc;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  margin: 2% auto;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 0 0 5px 0;
}

#error {
  color: #c00;
}

main {
  padding: 20px 0;
}

nav {
  font-size: 28px;
}

nav a {
  padding: 20px;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover, a:active {
  color: #33c;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin: auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

table, th, td {
  border: 1px solid black;
}

#id {
  width: 100px;
}

#name {
  width: 150px;
}

#description {
  width: 350px;
}

#date {
  width: 150px;
}

label {
  display: block;
  margin: 10px;

}

form {
  display: block;
  text-align: left;
  width: 500px;
  margin: auto;
}
